body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0; /* Change this color to your desired background color */
  }
  