<div class = "search-parameters">

    <div class = "assigned" >
        <label for="assignedTo" class="bold-label">Assigned To: </label>
        <select id="assignedTo" [(ngModel)]="searchTaskDTO.userId">
            <option value="">-- Select User --</option>
                <option *ngFor="let user of users" [value] = "user.id">{{user.userName}}</option>
            </select>
    </div>

    <div class = "subject"> 
        <label for = "subject" class="bold-label">Subject: </label> 
        <input type = "text" id = "subject" placeholder="type here" [(ngModel)]="searchTaskDTO.subject" />
    </div>

    <div class = "dueDateAfter">
        <label for = "dueDateAfter" class="bold-label"> Due Date After: </label>
        <input type = "date" id= "dueDateAfter" [(ngModel)]="searchTaskDTO.dueDateAfter" />

    </div>

    <div class = "status"> 
        <label for = "status" class="bold-label"> Status: </label>
        <select id = "status" [(ngModel)]="searchTaskDTO.status">
            <option value = ""> --Select Status--</option>
            <option *ngFor = "let status of statuses" [value] = "status"> {{status}}</option>
        </select>
    </div>
    
    <button (click)="searchTasks()">Search</button>
</div>


<div class="container">
    <h2>Search Results:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Due Date</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Assigned</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of filteredTasks">
                <td>{{ task.dueDate | date }}</td>
                <td>{{ task.subject }}</td>
                <td>{{task.status}}</td>
                <td>{{ task.assigned.username }}</td>
                <td>
                    <button (click)="onTaskClick(task)">Click me!</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
